Bootstrap Daterange <br />
<label>Start</label>
{{daterange-picker singleDatePicker=true startDate=start}}

<label>End</label>
{{daterange-picker singleDatePicker=true startDate=end}}
<br />

<button {{action 'go'}}>Go</button>

{{daterange-picker startDate=start endDate=end}}


